mixin second-block
  .second-block
    .second-block__image
    .second-block__section
      h2.second-block__title The result — what is important
      p.second-block__text Each of our employees feels personal responsibility for the result of his actions - and the final result, in the first place, we consider not the satisfaction of our client, but the user experience that the customers of our client receive from using the solutions developed by us.

