.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 60px 0 26px 0;
  color: white;
  background-color: black;
  z-index: 999;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}
.header__logo {
  width: 15.2%;
}
.header__nav {
  width: 74%;
}
.footer {
  width: 100%;
  color: white;
  background-color: black;
}
.footer__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 80px 0;
}
.footer__logo {
  width: 15.2%;
  padding-bottom: 50px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav {
  width: 71%;
  opacity: 0.5;
}
.footer__copyright {
  opacity: 0.5;
  font-size: 16px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 16px;
}
.navigation__list--footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.navigation__item {
  position: relative;
  margin-right: 28.5px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item--active::after {
  content: "";
  position: absolute;
  top: 52px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.logo__text {
  font-size: 28px;
  font-weight: bold;
}
.approach {
  width: 100%;
  padding-top: 106px;
  color: white;
}
.approach__main {
  background-color: black;
}
.approach__second-block {
  background-color: #ECEEF2;
}
.approach__third-block {
  color: black;
  background-color: white;
}
.first-block {
  max-width: 1120px;
  margin: 0 auto;
}
.first-block__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 53%;
}
.first-block__section > * {
  margin-bottom: 42px;
}
.first-block__title {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 47px;
}
.first-block__subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.first-block__text {
  line-height: 29px;
}
.first-block__text--last {
  position: relative;
  padding-top: 116px;
}
.first-block__text--last::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 80px;
  height: 71px;
  background-image: url("../img/teamwork.svg");
}
.first-block__line {
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.4;
}
.second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
  color: black;
}
.second-block__image {
  width: 40%;
}
.second-block__section {
  width: 43%;
}
.second-block__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
}
.third-block {
  max-width: 1120px;
  margin: 0 auto;
}
.third-block__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.third-block__title-text {
  width: 23%;
}
.third-block__list {
  width: 70%;
}
.principle-control__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}
.principle-control__image {
  width: 16%;
}
.principle-control__container {
  width: 80%;
}
.principle-control__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}
body {
  margin: 0;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  background-color: black;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main {
  margin-top: 132px;
  width: 100%;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*# sourceMappingURL=global.css.map */
