include ../header-navigation/header-navigation
include ../logo/logo

mixin header({nav})
  header.header
    .header__container
      .header__logo
        +logo
      .header__nav
        +header-navigation(nav)
