.header {
  width: 100%;

  padding: 60px 0 26px 0;

  color: @header-font-color;

  background-color: black;

  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1120px;

  margin: 0 auto;
}

.header__logo {
  width: 15.2%;
}

.header__nav {
  width: 74%;
}
