include ../header-navigation/header-navigation

mixin header({nav})
  .header
    .header__container
      a.header__logo
        img.header__img(src="../img/logo.svg")
        p.header__logo-text bboss.io
      .header__nav
        +header-navigation(nav)
