@import "variable.less";
@import "../blocks/header/header";
@import "../blocks/footer/footer";
@import "../blocks/navigation/navigation";
@import "../blocks/logo/logo";
@import "../pages/approach";
@import "../blocks/first-block/first-block";
@import "../blocks/second-block/second-block";
@import "../blocks/third-block/third-block";
@import "../blocks/principle-control/principle-control";

body {
  margin: 0;

  color: @common-font-color;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: @common-font-size;
  font-weight: normal;
  line-height: 29px;

  background-color: black;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main {
  margin-top: 132px;

  width: 100%;
}

*, :after, :before {
  box-sizing: border-box;
}
