include ../blocks/header/header.pug
include ../blocks/footer/footer.pug

doctype html
html
  head
    title Title
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="global.css")
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap" rel="stylesheet")
  body
    block header
      +header({
        nav: [
          {name: "About"},
          {name: "Services"},
          {name: "Skills"},
          {name: "Team as a service"},
          {name: "Industries"},
          {name: "Case studies"},
          {name: "Approach", active: true},
          {name: "Blog"},
          {name: "Contacts"},
        ]
      })
    block content
    block footer
      +footer({
        nav: [
          {name: "About"},
          {name: "Services"},
          {name: "Skills"},
          {name: "Team as a service"},
          {name: "Industries"},
          {name: "Case studies"},
          {name: "Approach"},
          {name: "Contacts"},
        ],
      })
