mixin first-block
  .first-block
    .first-block__section
      h1.first-block__title Approach
      p.first-block__subtitle A crucial feature of our approach is the perception of the client's business as our own.
      p.first-block__text We do not just execute IT development according to the technical requirements - since our team not only has programmers but also experienced marketing specialists, product, and analytics managers. We are ready to understand all the needs fully, delve into each client's business, and offer a solution as profitable as possible in terms of cost and timing.
      .first-block__line
      p.first-block__text.first-block__text--last Our developers are always on the "crest of the wave." We adhere to the policy of using only the most effective IT methodologies and modern technologies.
    .first-block__image
      img.
