include ../logo/logo
include ../navigation/navigation

mixin footer({nav})
  footer.footer
    .footer__wrapper
      .footer__logo
        +logo
      .footer__container
        .footer__nav
          +navigation(nav, true)
        .footer__copyright
          p.footer__text © bboss.io 2020
